# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/data/slugs-lotes
/data/slugs
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/out-*-lote-*/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/data/slugs
data/awin/ARNO.json
data/awin/BELEZANAWEB.json
data/awin/VIVARA.json
data/awin/OLYMPIKUS.json
data/awin/MIZUNO.json
data/awin/GALVIC.json
data/awin/KIPPLING.json
data/awin/LEGO.json
data/awin/LG.json
data/awin/CENTAURO.json
data/awin/BRINOX.json
data/awin/STANLEY.json
data/awin/NIKE.json
data/awin/MASH.json
data/awin/FOREVERLISS.json
data/awin/EUDORA.json
data/awin/DOLCEGUSTO.json
data/awin/DIESEL.json
data/awin/OBOTICARIO.json
data/awin/CALVINKLEIN.json
data/awin/CEA.json
